* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    width: 100%;
    font-family:  Helvetica, Arial, sans-serif;
  }

.header{
  background: url("assets/Background_Image_Landing.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100%;
}

.header .container{
  position: relative;
  top: 12vw;
  text-align: center;
  height: 80%;
  width: auto;
}

.container #slogan{
  display: block;
  padding: 50px 50px;
  margin: auto;
  max-width:80%; 
  height: auto;
}

@media screen and (min-width: 800px) and (max-height: 700px) {
  .container #slogan {
    width: 30%; 
    height: auto;
  }
  .modal-button {
    margin: 10px 10px;
    padding: 0.4rem 0.5rem;
    font-size: 20px;
    border: 3px solid white;
    position: block;
  }
  .container #slogan {
    padding-top: 30px;
    padding: 20px 50px;
  }
  .header {
    min-height: 650px;
  }
}

.container #logowhite{
  display: block;
  height: 6vw;
  min-height: 70px;
  margin: auto;
}

.modal-title{
  text-align: center;
  width: 100%;
  font-size: 35px;
  font-weight: 700;
}

.modal #logo-word{
  width: 70%;
  height: auto;
}

.modal #logo-icon{
  width: 20%;
  height: auto;
}

@media screen and (max-width: 1250px) {
  .modal-title {
    font-size: 20px;
  }
}

.modal-button{
  display: inline-block;
  margin: 20px 20px;
  padding: 1rem 3rem;
  width: 250px;
  min-height: 2vh;

  text-align: center;
  font-weight: 700;
  font-size: 30px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.329);
  border-radius: 100px;
  color: white;
  background-color: transparent;
  border: 5px solid white;
}

@media screen and (max-height: 600px) {
  .modal-button {
    margin: 10px 10px;
    padding: 0.4rem 0.5rem;
    font-size: 20px;
    border: 3px solid white;
    position: block;
  }
  .container #slogan{
    padding-top: 30px;
    padding: 20px 50px;
  }
  .header{
    min-height: 650px;
  }
}

.modal-button:hover{
  transition: background .5s;
  color: #8833a2;
  background-color: white;
  cursor: pointer;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: none; /* Enable scroll if needed */
}

/* Modal Content/Box */
.modal-content {
  text-align: center;
  justify-content: center;
  background-color: white;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: none;
  border-radius: 20px;
  width: 20%; /* Could be more or less, depending on screen size */
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.329);
}

.error-msg{
  word-wrap: break-word;
  font-size: 1.5vw;
  font-style: italic;
  font-weight: bold;
  color: #bc2626;
}

.popup-buttons{
  font-size: 90%;
  font-weight: 700;
  width: 40%;
  margin: 10px 10px;
  padding: 10px;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

@media screen and (max-width: 950px){
  .popup-buttons {
    font-size: 1.3vw;
  }
}

.confirm {
  background-color: #8833a2;
  color: white;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.modal-inputs label {
  position: absolute;
  top: 60;
  left: 0;
  width: 100%;
  color: #d3d3d3;
  transition: 0.2s all;
  cursor: text;
  font-size: 16px;
  line-height: 20px;
}

.modal-inputs input {
  width: 100%;
  border: 0;
  outline: 0;
  padding: 0.5rem 0;
  border-bottom: 2px solid #d3d3d3;
  box-shadow: none;
  color: #111;
}

.modal-inputs input:invalid {
  outline: 0;
}

.modal-inputs input:focus,
input:valid {
  border-color: #8833a2;
}

input:focus~label,
input:valid~label {
  font-size: 18px;
  transform: translate(0px, -18px);
  color: #8833a2;
}

.info-screen{
  width: 100%;
  height: 100%;
  background-color: #e6b5f5;
}

.text-container{
  padding: 30px;
}

.info-screen img {
  height: 100%;
  width: auto;
  float: right;
  padding-left: 30px;
  padding-right: 30px;
}

@media screen and (max-width: 1600px) {
  .info-screen img {
    float: center;
    width: 90%;
    height: auto;
  }
}