html{
    --main-bg-light: #fbfafc; /* TO 1d1426 */
    --main-text-light: black; /*TO WHITE */
    --main-l-purp-light: #8833a2; /* TO 531a65 */
    --main-l-purp-dark: #600f79; /* TO 392447*/
    --l-purp-hover-light: #b042d2; /* TO 5f1b74 */
    --card-bg-light: white; /* TO 3b274b */
    --overlay-text-light: white;
    --main-p-text-light: #8a8a8a; /* TO WHITE */
    --main-subtext-light: #AAA; /* TO WHITE */
    
    --scrollbar-light: #F5F5F5; /* TO 291c36 */
    
    --alt-text-color: #291d40; /* TO WHITE */
    --extra-border1: #f0f0f0; /* TO 49305d */
    --extra-purp1: #421650; /* TO 24132f */
    --extra-purp2: #600f79; /* TO 49305d */
    --extra-purp3: #600f79; /* TO 71508b */
    --bg-switch: #f5f5f5; /* TO 261932 */
    --bg-color-fill: transparent; /* TO WHITE */
    --extra-border1: #d3d3d3; /* TO WHITE */
    --date-color: #95a5a6; /* TO WHITE */
    --date-color-bg: #ecf0f1; /* TO 6d5580 */

    --pem-text-emph-button-bg: #f1f3f4; /* TO 49305d */
    --pem-text-emph-button: #645f68; /* TO 6d5580 */
    --radio-bg-pem: #EEE; /* TO 71508b */

    --error-msg: #bc2626; /* TO WHITE */

    --dark-display-overlay: white;
    --help-text-bg: white;
}

html[data-theme="dark"] {
    --main-bg-light: #1d1426; /* TO 1d1426 */
    --main-text-light: white; /*TO WHITE */
    --main-l-purp-light: #531a65; /* TO 531a65 */
    --main-l-purp-dark: #392447; /* TO 392447*/
    --l-purp-hover-light: #5f1b74; /* TO 5f1b74 */
    --card-bg-light: #3b274b; /* TO 3b274b */
    --overlay-text-light: white;
    --main-p-text-light: white; /* TO WHITE */
    --main-subtext-light: white; /* TO WHITE */
    
    --scrollbar-light: #291c36; /* TO 291c36 */
    
    --alt-text-color: white; /* TO WHITE */
    --extra-border1: #49305d; /* TO 49305d */
    --extra-purp1: #24132f; /* TO 24132f */
    --extra-purp2: #49305d; /* TO 49305d */
    --extra-purp3: #71508b; /* TO 71508b */
    --bg-switch: #261932; /* TO 261932 */
    --bg-color-fill: white; /* TO WHITE */
    --extra-border1: white; /* TO WHITE */
    --date-color: white; /* TO WHITE */
    --date-color-bg: #6d5580; /* TO 6d5580 */

    --pem-text-emph-button-bg: #49305d; /* TO 49305d */
    --pem-text-emph-button: #6d5580; /* TO 6d5580 */
    --radio-bg-pem: #71508b; /* TO 71508b */

    --error-msg: white; /* TO WHITE */

    --dark-display-overlay: white;
    --help-text-bg: white;
}